{% extends 'base.html.twig' %}

{% block title %}Ajouter à la collection{% endblock %}

{% block body %}
    <h1>Ajouter un item à collectioner</h1>

    <hr class="mb-5">

    {{ form(add_collection) }}
{% endblock %}